astroid==4.0.4
certifi==2026.2.25
charset-normalizer==3.4.4
dill==0.4.1
future==1.0.0
greenlet==3.3.2
idna==3.11
isort==8.0.1
mccabe==0.7.0
numpy==2.4.1
pandas==2.3.3
pillow==12.1.1
platformdirs==4.9.4
playwright==1.58.0
pybuilder==0.13.18
pyee==13.0.1
pylint==4.0.5
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
requests-toolbelt==1.0.0
six==1.17.0
tomlkit==0.14.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
xlrd==2.0.2
xlwt-future==0.8.0
